<h3>Listado de Heroínas</h3>

<!-- El nombre será usado como referencia local; el div es un elemento agrupante-->
<div *ngIf="deletedHero; else nothingWasDeleted">
  <h3>Heroína borrada
    <small
      class="text-danger">
      {{ deletedHero }}
    </small>
  </h3>
</div>

<ng-template #nothingWasDeleted>
  <h3>No ha borrado a ninguna!</h3>
</ng-template>



<button
  *ngIf="heroNames.length > 0"
  (click)="removeLastHero()"
  class="btn btn-outline-danger">
  Borrar última Heroína
</button>

<ul class="mt-2 list-group">
  <li *ngFor="let name of heroNames" class="list-group-item">
    {{ name }}
  </li>
</ul>
